<div class="field {{#if disabled}}field--disabled{{/if}}">
  <label for="{{name}}" class="field__label">{{label}}</label>
  <input type="text" value="{{name}}" name="{{name}}" class="field__input" placeholder="{{name}}">
</div>